spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/present_cloud?serverTimezone=UTC&useUnicode=ture&characterEncoding=utf-8
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password: 123456
    jedis:
      pool:
        max-wait: -1
        max-idle: 8
        min-idle: 0
    lettuce:
      shutdown-timeout: 300

server:
  port: 8081
#mybatis#
mybatis:
  type-aliases-package: PresentCloud.pojo
  mapper-locations: classpath:mybatis/mapper/*.xml